/* Start Variables */
:root {
  --main-color: #938100;
  --main-color-2: #575757;
  --transparent-color: #0c5d72b3;
  --secondary-color: #6c6c6c;
  --decoration-color: #333;
  --paragraph-color: #777;
  --background-section: #fff;
  --main-transition: 0.4s;
  --section-padding: 100px;
}

/* End Variables */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: #ececec;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-2);
}

a {
  text-decoration: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Components */
.scroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 0rem;
  height: 0.5rem;
  background-color: var(--main-color);
  z-index: 999999;
}

.main-heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--main-color);
  position: relative;
  margin: 0 auto 10rem;
  width: fit-content;
  border: 0.25rem solid var(--main-color);
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 1;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--main-color);
  border-radius: 0.5rem;
  transition: var(--main-transition);
  z-index: -1;
}

.main-heading::before {
  right: -3rem;
}

.main-heading::after {
  left: -3rem;
}

.main-heading:hover {
  color: #fff;
  transition-duration: 2s;
}

.main-heading:hover {
  border-color: transparent;
  transition-duration: 1s;
}

.main-heading:hover::before {
  animation: fill-left 1s linear forwards;
}

.main-heading:hover::after {
  animation: fill-right 1s linear forwards;
}

@keyframes fill-left {
  0% {
    right: -2rem;
  }

  50% {
    right: -1rem;
    width: 50%;
  }

  100% {
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color-2);
  }
}

@keyframes fill-right {
  0% {
    left: -2rem;
  }

  50% {
    left: -1rem;
    width: 50%;
  }

  100% {
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color-2);
  }
}

/* End Components */
/* End Global Rules */
/* Start Header */
.header {
  min-height: 7.2rem;
  position: relative;
  box-shadow: 0 0 1rem #ddd;
  z-index: 2;
  background-color: var(--background-section);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .header .container {
    align-items: center;
  }
}

.header .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0;
}

.header .logo img {
  width: 6rem;
  max-width: 100%;
}

.header .logo a {
  display: block;
  font-size: 2.8rem;
  font-weight: 900;
  order: -1;
  color: var(--main-color-2);
}

.header .links {
  display: flex;
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  .header .links {
    position: absolute;
    display: flex;
    width: 100%;
    left: 100%;
    right: 0;
    top: -100rem;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    transition: .5s;
  }

  .header .links.active {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    top: 102%;
    flex-direction: column;
    text-align: center;
    z-index: 999;
  }
}

.header .links li {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header .links li::before {
  content: "";
  position: absolute;
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 0.4rem;
  background-color: var(--main-color-2);
  transition: var(--main-transition);
}

.header .links li:hover {
  background-color: #f5f6f6;
}

.header .links li:hover::before {
  right: 0%;
}

@media (max-width: 991px) {
  .header .links li {
    width: 100%;
    border-bottom: 0.1rem solid #ddd;
    transition: var(--main-transition);
    background-color: var(--background-section);
  }
}

@media (max-width: 991px) {
  .header .links li {
    padding: 0;
  }
}

.header .links li a {
  font-size: 1.6rem;
  color: var(--main-color);
  font-weight: 700;
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  .header .links li a {
    padding: 1rem;
  }
}

.header .links li:hover a {
  color: var(--main-color-2);
}

@media (max-width: 991px) {
  .header .links li {
    padding: 0;
  }

  .header .links li a {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--main-color);
    display: block;
  }
}

.header .container>i {
  display: none;
  padding: 0.5rem;
  font-size: 2.8rem;
  color: var(--main-color-2);
  border: 0.2rem solid var(--main-color-2);
  border-radius: 1rem;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  .header .container>i {
    display: block;
  }

  .header .container>i.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--background-section);
  }
}

/* End Header */
/* Start Landing */
.landing {
  position: relative;
  background-color: var(--background-section);
}

.landing .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@media (max-width: 991px) {
  .landing .container {
    gap: 0;
  }
}

.landing .image {
  margin: 10rem 0 0;
  order: 1;
  width: 45rem;
  flex-basis: 45%;
  position: relative;
}

@media (max-width: 991px) {
  .landing .image {
    flex-basis: 100%;
    margin: 5rem 0 0;
  }
}

.landing .image img {
  max-width: 100%;
  filter: drop-shadow(rgb(0, 0, 0) 1rem 1rem 1rem);
  display: block;
  margin: 0 auto;
}

.landing .text {
  flex-basis: 45%;
  line-height: 2;
}

@media (max-width: 991px) {
  .landing .text {
    flex-basis: 100%;
    margin: 5rem 0 0;
    text-align: center;
  }
}

.landing .text h2 {
  font-size: 2.5rem;
  color: var(--main-color-2);
}

.landing .text h2 span {
  color: var(--main-color);
  font-weight: 900;
  text-shadow: 0rem 0rem 1rem;
}

.landing .text p {
  font-size: 2rem;
  color: #555;
}

.landing .text p span {
  color: var(--main-color);
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 0rem 0rem 1rem;
}

.landing .text button {
  margin: 4rem 0;
  border: none;
  background-color: var(--background-section);
}

.landing .text button:hover a {
  background-color: var(--main-color-2);
  color: var(--background-section);
}

.landing .text button a {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--main-color-2);
  background-color: var(--background-section);
  padding: 1.5rem 2.5rem;
  display: block;
  border-radius: 2rem;
  border: 0.2rem solid var(--main-color-2);
  transition: var(--main-transition);
}

@keyframes up-down {

  0%,
  100% {
    top: -1.5rem;
  }

  50% {
    top: 0rem;
  }
}

/* End Landing */
/* Start About */
.about {
  padding: 15rem 0;
  position: relative;
  background-image: url(../files/landing_cover_1.jpg);
  background-size: cover;
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.8);
}

@media (max-width: 991px) {
  .about {
    padding: 5rem 0;
  }
}

.about .container p {
  position: relative;
  z-index: 1;
  text-align: center;
  line-height: 3;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 991px) {
  .about .container p {
    line-height: 2;
  }
}

.about .container p span {
  color: var(--main-color);
  text-decoration: underline;
}

/* End About */
/* Start Features */
.features {
  padding: 10rem 0;
  position: relative;
  background-color: var(--background-section);
}

@media (max-width: 991px) {
  .features {
    padding: 5rem 0;
  }
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem;
}

.features .container .content {
  width: 30rem;
  height: 30rem;
  perspective: 80rem;
  margin: 0 auto;
}

.features .container .content:hover>.box {
  cursor: pointer;
  transform: rotateY(180deg);
}

.features .box {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.features .box .front,
.features .box .back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem .5rem rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.features .box .front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
}

.features .box .front img {
  max-width: 100%;
  border-radius: 1rem;
}

.features .box .front h3 {
  text-align: center;
  font-size: 2.6rem;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.features .box .back {
  background-color: var(--main-color-2);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.features .box .back h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.features .box .back p {
  font-size: 1.4rem;
  line-height: 1.6;
}

/* End Features */
/* Start Quiz */
.takequiz {
  padding: 10rem 0;
  background-image: url(../files/quiz.jpg);
  background-size: cover;
  position: relative;

}

.takequiz::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.75);
}

@media (max-width: 991px) {
  .takequiz {
    padding: 5rem 0;
  }
}

.takequiz .container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  z-index: 1;
  height: 60rem;
}

.takequiz .container .soon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* End Quiz */
.content-css {
  padding: 10rem 0;
  position: relative;
  background-color: var(--background-section);

}

@media (max-width: 991px) {
  .content-css {
    padding: 5rem 0;
  }
}

.content-css .container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--decoration-color);
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  height: 60rem;
}

.content-css .container .soon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Start Testimonials */
.testi {
  background-image: url(../files/testi.jpg);
  background-size: cover;
  background-color: #575757;
  padding: 10rem 0;
  position: relative;
}

.testi::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.75);
}

@media (max-width: 991px) {
  .testi {
    padding: 5rem 0;
  }
}

.testi .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10rem 4rem;
  margin-top: 15rem;
}

.testi .box {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.5rem rgba(50, 50, 50, 0.25);
  padding: 2rem;
  transition: var(--main-transition);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.testi .box:hover {
  box-shadow: 0 0 1rem .5rem #fff;
  cursor: pointer;
  transform: translateY(-1rem);
}

.testi .box .image {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40%;
  padding: 0.75rem;
  border-radius: 50%;
  box-shadow: 0rem 0rem 1rem 1rem #999;
  transition: var(--main-transition);
}

.testi .box:hover .image {
  box-shadow: 0 0 1rem 1rem #fff;
}

.testi .box .image img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testi .box h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  color: #6f6f6f;
  margin-top: 2.5rem;
}

.testi .box p {
  line-height: 2;
  margin: 1rem 0;
  color: #777;
  font-size: 1.4rem;
}

.testi .box .rate {
  text-align: center;
}

.testi .box .rate i {
  font-size: 1.4rem;
  margin: 0 0.25rem;
  color: #ffa500;
  filter: drop-shadow(0rem 0rem 0.15rem #000);
}

/* End Testimonials */
/* Start Contact Us */
.contact {
  padding: 10rem 0;
  position: relative;
}

@media (max-width: 991px) {
  .contact {
    padding: 5rem 0;
  }
}

.contact .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .container .image {
  flex-basis: 48%;
}

@media (max-width: 991px) {
  .contact .container .image {
    flex-basis: 100%;
  }
}

.contact .container .image img {
  max-width: 100%;
  animation: bouncing 3s linear infinite;
}

@keyframes bouncing {

  0%,
  100% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
  }
}

.contact .container .info {
  flex-basis: 48%;
  text-align: center;
}

@media (max-width: 991px) {
  .contact .container .info {
    flex-basis: 100%;
  }
}

.contact .info .title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--main-color);
  margin: 0 auto 4rem;
}

.contact .info {
  width: 100%;
  padding: 0 5rem;
}

@media (max-width: 991px) {
  .contact .info {
    padding: 0;
  }
}

.contact .info .input {
  position: relative;
  display: flex;
}

.contact .info .input .input-css {
  width: 100%;
  padding: 1rem 1.5rem;
  border: .25rem solid #777;
  background-color: #fff;
  border-radius: .5rem;
  margin: 1.5rem;
  font-size: 1.4rem;
  color: var(--decoration-color);
}

.contact .info input:focus {
  outline: none;
}

.contact .info .label {
  position: absolute;
  right: 2.5rem;
  top: 0.5rem;
  background-color: #fff;
  z-index: 99;
  font-size: 1.3rem;
  padding: 0 0.5rem;
  font-weight: bold;
  color: #999;
}

.contact .info .input .text-css {
  width: 100%;
  height: 20rem;
  padding: 1rem 1.5rem;
  border: .25rem solid #777;
  background-color: #fff;
  border-radius: .5rem;
  margin: 1.5rem;
  font-size: 1.4rem;
  color: var(--decoration-color);
}

.contact .info .contact-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 1rem auto;
  cursor: pointer;
  transition: var(--main-transition);
}

.contact .info .contact-btn:hover {
  background-color: var(--main-color-2);
}

/* End Contact Us */
/* Start Footer */
.footer {
  padding: 5rem 0 0;
  background-color: var(--decoration-color);
  position: relative;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  color: #fff;
  justify-content: space-between;
}

.footer .container .logo {
  flex-basis: calc(90% / 3);
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px) {
  .footer .container .logo {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer .logo .image {
  width: 12rem;
  margin-bottom: 2rem;
}

.footer .logo .image img {
  max-width: 100%;
}

.footer .logo .social {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 991px) {
  .footer .logo .social {
    justify-content: center;
    order: 3;
  }
}

.footer .logo .social a {
  width: 5rem;
  height: 5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  margin-left: 1rem;
  background-color: transparent;
  transition: var(--main-transition);
}

.footer .logo .social a:hover {
  color: var(--main-color);
}

/* .footer .logo .social a:hover .face-css {
  color: #3b5998;
}

.footer .logo .social a:hover .tube-css {
  color: #cd201f;
}

.footer .logo .social a:hover .whats-css {
  color: #43d854;
} */

.footer .logo .shortcut {
  line-height: 2;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.footer .logo .shortcut span {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--main-color);
  text-shadow: 0rem 0rem 1rem;
}

.footer .location {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 5rem 0;
  flex-basis: calc(90% / 3);
}

@media (max-width: 991px) {
  .footer .location {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer .location .info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.footer .location .info i {
  font-size: 2.5rem;
}

.footer .location .info .number {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .location .info .number.dir {
  direction: ltr;
}

.footer .location .info .number span {
  font-size: 1.4rem;
}

.footer .links {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  flex-basis: calc(90% / 3);
}

@media (max-width: 991px) {
  .footer .links {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer .links a {
  text-decoration: none;
  color: #fff;
  border-bottom: .1rem solid #fff;
  display: block;
  font-size: 1.8rem;
  margin: 1rem 0;
  padding: 1rem 0;
  transition: var(--main-transition);
}

@media (min-width: 992px) {
  .footer .links a:hover {
    transform: translateX(-1rem);
  }
}

@media (max-width: 991px) {
  .footer .links a {
    width: 100%;
  }
}

.footer .links a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.footer .end {
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
}

.footer .developer {
  border-top: .1rem solid #999;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  display: block;
}

.footer .developer a {
  color: #fff;
  text-decoration: none;
  animation: change 6s linear infinite;
}

@keyframes change {

  0%,
  100% {
    color: var(--main-color);
    text-shadow: 0rem 0rem 0rem;
  }

  20%,
  60% {
    color: #fff;
    text-shadow: 0rem 0rem 0.5rem;
  }

  40% {
    color: #fff;
    text-shadow: 0rem 0rem 1rem;
  }
}

/* End Footer */
